

.EmojiPickerReact{
    --epr-bg-color: var(--surface-card) !important;
    --epr-category-label-bg-color: var(--surface-card) !important;
    --epr-reactions-bg-color: var(--surface-card) !important;
    --epr-search-input-bg-color: var(--surface-card) !important;
    --epr-search-input-bg-color-active: var(--surface-card) !important;
    --epr-emoji-variation-picker-bg-color: var(--surface-card) !important;
    --epr-text-color: var(--text-color) !important;
}
