// Global style for All PrimeReact components and themes (light, dark, and custom)


body {
	background: var(--surface-0) ;
}

// sgin in button animation


.btn-sign-in {
  transition: 1s ease-in-out;
}

svg.sign-in {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #bb1383e0;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn-sign-in:hover {
  transition: 1s ease-in-out;
  background: rgba(#1d3249,0.8) !important;
}

.btn-sign-in:hover svg.sign-in {
  stroke-dashoffset: -480;
}

.btn-sign-in:hover span {
  color: white;
}


// gradiant shadow for garellia images

.galleria-img {
  position: relative;
  &::after{
    content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(29,50,73);
background: linear-gradient(94deg, rgba(29,50,73,1) 0%, transparent 100%);
background: linear-gradient(298deg, rgb(22, 50, 73) -16%, transparent 100%);
  background: radial-gradient(#1d3249, transparent);
  }
}
