/* Box sizing rules */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	min-height: 100svh;
	text-rendering: optimizeSpeed;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* add curser pointure for buttons roles */
// *[role="button"]{
// 	cursor: pointer;
// 	padding: 1rem;
// }

blockquote,
q {
	quotes: none;
}

/* Make Links easier to work with */
a[role="link"] {
	display: block;
	text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
svg {
	display: block;
	max-width: 100%;
}

img[width][height] {
	height: auto;
	/* Preserve aspect ratio */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
*/



button[disabled],
html input[disabled] {
	cursor: default;
}

[disabled] {
	pointer-events: none;
}




pre {
	font-family: "Fira Code", "Consolas", "Monaco", monospace;
	line-height: 1.5; /* Adjust the line height for readability */
	padding: 10px; /* Optional: Add padding for spacing */
	border: 1px solid #ccc; /* Optional: Add a border */
	overflow-x: auto; /* Enable horizontal scrolling for code blocks */
	font-size: 100%;
}


/* fix hidden attribute  */
[hidden] { display: none; }




/* firefox */

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
